# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Al-Parillon\Desktop\YEAR FOUR\TERM 2\CPSC 416 201\cpsc416_a6_alp23_alp23\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
